<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Continental Resort</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-6 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'Home_pg' %}">Home</a></li>

                                        <li><a href="{% url 'About_pg' %}">About</a></li>
                                        <li><a href="#">Services<i class="active"></i></a>
                                            <ul class="submenu">
                                                 {% for d in y %}
                                                <li><a href="{% url 'Services_page' cat=d.Category %}">{{d.Category}}</a></li>
                                            {% endfor %}
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'Contact_pg' %}">Contact</a></li>
                                        <li><a href="{% url 'Profile_Pg' %}">Profile</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'Home_pg' %}">
                                    <img src="https://www.hotel-continental.at/wp-content/uploads/sites/128/2020/07/CONTINENTAL001.png" alt="" width="220px">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                            <div class="book_room">
                                <div class="socail_links">
                                    <ul>
                                        <li>{% if request.session.Email %}
                                            <a href="#">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-chat-left-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
</svg>
                                            </a>
                                             {% endif %}
                                        </li>

                                    </ul>
                                </div>
                                <div class="book_btn d-none d-lg-block">
                                    <form action="{% url 'Booking_page' %}">
                                        {% if request.session.Email %}
                                    <button type="submit" class="btn btn-outline-warning">Check Availability</button>

                                        </form>
                                    <form action="{% url 'Logout_Pg' %}">
                                        <button style="margin-top:-65px;margin-left:170px;" class="btn btn-outline-danger">Logout</button>
                                    </form>


                                        {% else %}
                                    <form action="{% url 'Registration_pg' %}">
                                        <button type="submit" class="btn btn-outline-warning">Register</button>
                                        </form>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg_1" style="background-image:url(https://wallpapercave.com/wp/wp1846066.jpg);">
        <h3 style="font-weight:bolder;">Its Continental</h3>
    </div>

    <!-- features_room_startt -->
    <div class="features_room">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">


                        <h3>We Serve You Better</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="rooms_here">
            {% for i in x %}
            <div class="single_rooms">


                <div class="room_thumb">
                    <img src="{{i.Image.url}}" alt="" width="300px" height="500px">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>From {{i.Amount}} Starts</span>
                            <h3>{{i.Product}}</h3>
                        </div>
                        <a href="{% url 'Category_Single' cat=i.Product %}" class="line-button">View Details</a>
                    </div>
                </div>

            </div>
            {% endfor %}



        </div>
    </div>

    <!-- features_room_end -->

    <!-- forQuery_start -->



        <div style="margin-top:50px;"><h1 style="text-align:center;font-weight:bolder;color:rgb(104,103,103);">"Reviews About Hotel"</h1></div>


    <div class="row" style="border-color:red;margin-top:50px;">
{% for i in z %}
  <div class="col-lg-4 col-md-3 col-sm-3 col-xs-5"  >
    <div>

            <div>
                <h2>{{i.username}}</h2>
				<p>
					<p>{{i.Description}}</p>
                    {% for star in ""|rjust:i.rating|stringformat:"s"|make_list %}
                <span class="fa fa-star" style="color:rgb(212, 212, 41);"></span>
                {% endfor %}<br>
            </div>
    </div>
</div>
        {% endfor %}

    </div>






    <!-- forQuery_end-->

    <!-- footer -->
    <footer class="footer" style="margin-top:150px;">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text" >  200, Green road, Mongla, <br>
                                    New Yor City USA</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Reservation
                            </h3>
                            <p class="footer_text" >+10 367 267 2678 <br>
                                    reservation@montana.com</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Navigation
                            </h3>
                            <ul>
                                <li><a href="{% url 'Home_pg' %}">Home</a></li>
                                <li><a href="{% url 'About_pg' %}">About</a></li>
                                <li><a href="{% url 'Contact_pg' %}">Contact</a></li>
                                {% if request.session.Email %}
                                <li><a href="{% url 'Profile_Pg' %}">Profile</a></li>
                                {% else %}
                                <li><a href="{% url 'Registration_pg' %}">Register</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Newsletter
                            </h3>
                            <form action="{% url 'Newsletter_save' %}" class="newsletter_form" method="post">
                                {% csrf_token %}
                                <input type="email" placeholder="Enter your mail" name="NewsLetter">
                                <button type="submit">Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Mahesh M</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>





</body>

</html>